{{#if controller.isEditing}}
  {{render "contactEdit"}}
{{else}}
<h2><img {{bindAttr src="gravatar"}} />{{fullName}}</h2>

<dl class="dl-horizontal">
  {{#if email}}
    <dt>Email:</dt>
    <dd>{{mailto email}}</dd>
  {{/if}}
  {{#if notes}}
    <dt>Notes:</dt>
    <dd>{{notes}}</dd>
  {{/if}}
  {{#if phoneNumbers.length}}
    <dt>Phone:</dt>
    <dd>
      {{#each phoneNumber in phoneNumbers}}
        <div>{{phoneNumber.number}}</div>
      {{/each}}
    </dd>
  {{/if}}

  {{#if stocks.length}}
    <dt>Stocks</dt>
    <dd>
		<table class='table table-condensed table-striped table-bordered'>
		{{partial "stock_table_header"}}
      {{#each stock in stocks}}
		{{partial "stock"}}
      {{/each}}
	<tr>
	<td></td>
	<td></td>
	<th style='text-align:right;'>Total</th>
	<td style='text-align:right;'>${{decimal portfolio_value}}</td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	</tr>

		</table>
    </dd>
  {{/if}}


</dl>

<div class="well well-small">
  <a class="btn btn-mini btn-success" {{action startEditing}}>Edit</a>
  <a class="btn btn-mini btn-danger" {{action destroyRecord}}>Remove</a> | 
  {{#linkTo "contacts" class="btn btn-mini"}}Show All Contacts{{/linkTo}}
</div>
{{/if}}
