<div class="span3">
  <div class="well sidebar-nav">
    <ul class="nav nav-list">
      <li class="nav-header">All contacts
	</li>
      {{#each contact in controller}}
        {{view App.ContactInListView contentBinding="contact"}}
      {{/each}}
    </ul>
  </div>
</div>
<div class="span9">

<div id="flash" class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <span></span>
</div>

  {{outlet}}

{{#if controller.activeContactId}}
{{else}}
<p class="box">Contacts {{#linkTo "contacts.new" class="btn btn-mini" }}<i class="icon-plus-sign"></i> Add Contact{{/linkTo}}</p>
{{/if}}

{{#if controller.display_list}}
	<table class="table table-condensed table-bordered table-striped">
	<tr>
		<th>Full Name</th>
		<th>ID</th>
		<th>Email</th>
		<th># of Stocks</th>
		<th>Total Value of Stocks
		<button {{action sort}} class="sort" >{{sort_arrow sortAscending}}</button>
		
		</th>
		<th>Controls</th>
	</tr>
  {{#each contact in controller}}
	<tr>
    {{view App.ContactInMainView contentBinding="contact"}}
	</tr>
  {{/each}}
	<tr>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td style='text-align:right;'>Total: ${{decimal total_value}}</td>
		<td></td>
	</tr>
  </table>
{{/if}}

</div>

