<div class="span3">
  <div class="well">
    <ul class="nav nav-list">
      <li class="nav-header">All Stocks ( {{stocks.length}} )</li>
      {{#each stock in controller}}
        {{view App.StockInListView contentBinding="stock"}}
      {{/each}}
    </ul>
  </div>
</div>
<div class="span9">

<div id="flash" class="alert alert-success">
    <span></span>
</div>

  {{outlet}}

{{#if controller.activeStockId}}
{{else}}
<p class="box">Stocks {{#linkTo "stocks.new" class="btn btn-mini" }}<i class="icon-plus-sign"></i> Add Stock{{/linkTo}}</p>
{{/if}}

{{#if controller.display_list}}
	<table class="table table-condensed table-bordered table-striped">
	{{partial "stock_table_header"}}
  {{#each stock in controller}}
    {{view App.StockInMainView contentBinding="stock"}}
  {{/each}}
	<tr>
		<td></td>
		<td></td>
		<td></td>
		<td style='text-align:right;'>Total: ${{decimal total_value}}</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	</table>
{{/if}}

</div>
