<div class="span3">
  <div class="well">
    <ul class="nav nav-list">
      <li class="nav-header">All Stocks ( {{stocks.length}} )</li>
      {{#each stock in controller}}
        {{view App.StockInListView contentBinding="stock"}}
      {{/each}}
    </ul>
  </div>
</div>
<div class="span9">

<div id="flash" class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <span></span>
</div>

{{#view App.RefreshStocksButton}}Refresh Stocks{{/view}}

  {{outlet}}


{{#if controller.activeStockId}}
{{else}}
<h2>All Stocks</h2>
	<table class="table table-condensed table-bordered table-striped">
	{{partial "stock_table_header"}}
  {{#each stock in controller}}
    {{view App.StockInMainView contentBinding="stock"}}
  {{/each}}
	<tr>
	<td></td>
	<td></td>
	<th style='text-align:right;'>Total</th>
	<td style='text-align:right;'>${{portfolio_value}}</td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	</tr>
	</table>
{{/if}}

</div>
